{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1>{{ title }}</h1>
  <table class="table table-hover">
  <thead>
    <th>ID</th>
    <th>IPAddr</th>
    <th>SourceIP</th>
    <th>Reported</th>
    <th>Ban Expires</th>
    <th>Notes</th>
  </thead>
  <tbody>
  {% for bannedIP in bannedIPs %}
  <tr>
    <td> {{ bannedIP.id }}</td>
    <td> {{ bannedIP.IPAddr }}</td>
    <td> {{ bannedIP.source }}</td>
    <td> {{ bannedIP.reported | formatdatetime }}</td>
    <td> {{ bannedIP.expires | formatdatetime }}</td>
    <td> {{ bannedIP.notes }}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
