{% extends 'bootstrap/base.html' %}

{% block navbar %}
{{nav.mynavbar.render()}}
{% endblock %}

{% block title %}
  {% if title %}
    {{ title }} - Nagios maintenance
  {% else %}
    Nagios maintenance
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
  </div>
{% endblock %}
